# This worlflow will build a Java project with Maven
name: Java CI with Maven in Linux

on:
  push:
  pull_request:
		
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:[8,11]
				
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{matrix.java}}
      uses: actions/setup-java@v4
      with:
        java-version: ${{matrix.java}}
        distribution: 'temurin'
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runnner.os}}-m2-${{ hashFiles('**/pom.xml','**/*.yml')}}
        restore-keys: ${{ runner.os }}-m2-
    - name: Build with Maven
      run: mvn verify
      working-directory: com.umair.app.student-courses
		 
